
/* Models Reihenfolge fix */
.owl-item, .post-content-wrapper ul li,
.kaya-post-content-wrapper ul li {

	position: relative !important;
	left: auto  !important;
	top: auto  !important;
	@media only screen and (max-width: 480px) {
		height: 150vw;
	}
	
	@media only screen and (min-width: 481px) {
		height: 70vw;
	}
	@media only screen and (min-width: 768px) {
		height: 48vw;
	}
	@media only screen and (min-width: 1025px) {
		height: 36vw;
	}
	@media only screen and (min-width: 1110px) {
		height: 47vw;
	}
	@media only screen and (min-width: 1367px) {
		height: 515px;
	}
	
}

form.wpcf7-form {
	input[type=text],
	input[type=email]{
		width: 100%;
	}
	input[type=submit]{
		
	    background: #fff;
	    color: #666;
	    border: 1px solid #666;
	    &:hover {
		    background: #ccc;
	    }
	}
	.wpcf7-response-output {
		margin: 20px 0 0;
	}
}
